/* ======= RESET ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(22, 22, 22, 0.842);
}

/* ===== HEADER ===== */
.top-menu{
    background-color: rgba(22, 22, 22, 0.842);
    /*display: flex;             /* éléments côte à côte */
    /*flex-direction: row;       /* ligne horizontale */
    /* flex-wrap: nowrap; */
    /*align-items: center;       /* centrage vertical */
    gap: 30px;                 /* espace entre menus */
    padding: 10px 20px;
    background-color: rgba(22, 22, 22, 0.842);
}



/* Chaque label + select côte à côte */
.menu-section {
    background-color: rgba(22, 22, 22, 0.842);
   /* display: flex;
    flex-direction: row;        label et select sur la même ligne
    align-items: center;       /* centrage vertical */
    gap: 10px;                 /* espace label → select */
}

/* Label */
.menu-section label {
    color: white;
    font-weight: bold;
}

/* Select */
.menu-section select {
    padding: 5px;
    font-size: 14px;
    width: 180px;
}

/* ===== CARTE ===== */
#map {
    position: absolute;
    top: 60px;   /* laisse la place pour le header */
    bottom: 0;
    left: 0;
    right: 0;
}
