/* ======= INITIALISATION DE LA PAGE ============*/
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    html, body {
        height: 100%;
        margin: 0;
    }

    #map {
        height: 100%;
        width: 100%;
    }
    .imgbulle{
        width: 50px;
    }
